a:hover { text-decoration: none; }
.float-left { float: left; }
.float-right { float: right; }



body { font-size: 14px; font-family: '微软雅黑'; }
header { position: fixed; width: 100%; height: 50px; border-bottom: 1px solid #eee; background-color: #24292e; transition: transform 200ms linear; -webkit-transition: transform 200ms linear; -moz-transition: transform 200ms linear; -o-transition: transform 200ms linear; -mz-transition: transform 200ms linear; }
.header-down { -o-box-shadow: 0px 2px 1px #888; -webkit-box-shadow: 0px 2px 1px #888; -ms-box-shadow: 0px 2px 1px #888; -moz-box-shadow: 0px 2px 1px #888; box-shadow: 0px 2px 1px #888; transform: translateY(-100%); }
.header-up { -o-box-shadow: 0px 2px 1px #888; -ms-box-shadow: 0px 2px 1px #888; -webkit-box-shadow: 0px 2px 1px #888; -moz-box-shadow: 0px 0px 0px #888; box-shadow: 0px 0px 0px #888; transform: translateY(0%); }
nav { width: 1200px; height: 50px; line-height: 50px; margin: 0 auto; }
nav ul { width: 1200px; height: 50px; }
nav ul:after { content:"."; display: block; height: 0; clear: both; visibility: hidden; zoom: 1; }
nav ul li { float: left; }
nav ul li a { color: rgba(255,255,255,0.75); transtion: all 2s; }
nav ul li a:hover { color: rgba(255,255,255,1); }

section { margin-top: 50px; }
#content { width: 1200px; margin: 0 auto; }
